<div class="container">

    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="mt-5">
        <mat-card *ngIf="repoInfo$" 
            fxFlex="0 1 70%%"
            fxFlex.lt-md="0 1 85%"
            fxFlex.lt-sm="0 1 100%">

            <mat-card-header 
                fxLayout="row" 
                fxLayout.lt-md="column"
                >

                <div class="left">
                    <mat-card-title>{{(repoInfo$ | async)?.name}}</mat-card-title>
                    <mat-card-subtitle>{{(repoInfo$ | async)?.description}}</mat-card-subtitle>
                </div>

                <div class="stats" fxLayout="row" 
                    fxLayoutAlign="end center"
                    fxLayoutAlign.lt-md="space-evenly center"
                    >
                    <mat-card>
                        <small>Stars</small>
                        <div xLayout="row" fxLayoutAlign="middle center">
                            <mat-icon aria-label="Stars">star</mat-icon>
                            {{(repoInfo$ | async)?.stargazers_count}}
                        </div>
                    </mat-card>
                    <mat-card>
                        <small>Forks</small>
                        <div xLayout="row" fxLayoutAlign="middle center">
                            <mat-icon aria-label="Stars">code</mat-icon>
                            {{(repoInfo$ | async)?.forks_count}}
                        </div>
                    </mat-card>
                    <mat-card>
                        <small>Issues</small>
                        <div xLayout="row" fxLayoutAlign="middle center">
                            <mat-icon aria-label="Stars">article</mat-icon>
                            {{(repoInfo$ | async)?.open_issues_count}}
                        </div>
                    </mat-card>
                </div >

            </mat-card-header>
            
            <mat-card-content>

                <div class="lista-issues">
                    <h3>Open Issues</h3>

                    <div  fxLayout="column" fxLayoutAlign="space-evenly stretch" >
                        <ng-container *ngFor="let issue of (issues$ | async); let i = index">
                            <mat-card class="issue" (click)="goToIssue(issue)" fxLayout="row" fxLayoutAlign="space-between center" >
                                <div style="margin-right: 15px;">
                                    <p>{{issue.title}}</p>
                                    <div fxLayout="row" 
                                        fxLayout.lt-md="column"
                                        fxLayoutAlign="start none"
                                        >
                                        <ng-container *ngFor="let label of issue.labels; let i = index">
                                            <mat-card class="label" style="background-color: #{{label.color}};" >{{label.name}}</mat-card>
                                        </ng-container>
                                    </div>
                                </div>
                                <div>
                                    <p><small>Created at:</small> {{issue.created_at | date: 'dd/MM/yyyy'}}</p>
                                    <p><small>Created by:</small>  {{issue.user.login}}</p>
                                </div>
                            </mat-card>
    
                        </ng-container>
                    </div>
                </div>
              
            </mat-card-content>
        </mat-card>
    </div>
</div>
  