<div class="pesquisa" >
    <form fxLayout="row" fxLayoutAlign="center center">

        <mat-form-field appearance="outline" >
            <mat-label>Search User</mat-label>
            <input matInput [formControl]="username" autocomplete="off">
            <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <button class="search-button" mat-flat-button color="primary" (click)="getUsersRepositories($event)">Search</button>
      </form>
</div>


<app-repos-list [repositories]="usersRepositories$ | async"></app-repos-list>