
<div class="pesquisa" >
    <form fxLayout="row" fxLayoutAlign="center center">

        <mat-form-field appearance="outline" >
            <mat-label>Search User</mat-label>
            <input matInput (keyup)="typeUsername($event)" value="{{username}}">
        </mat-form-field>
        
        
        <button class="search-button" mat-flat-button color="primary" (click)="getRepositories($event)">Search</button>
    
      </form>
</div>


<app-repos-list [repositories]="repositories"></app-repos-list>