@import '../../../../styles.scss';

.mat-card {
    cursor: pointer;
    margin-left: 2%;
    margin-bottom: 2%;

    color: $secondary-letter-color;

    .description {
        color: $tertiary-letter-color;
    }
}